/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #3f51b5;
}

* { line-height: normal; }

h1 {
  font-size: 2.4em !important;
  font-weight: 200 !important;
}

h2 {
  font-size: 1.8em !important;
  font-weight: 200 !important;
}

.title {
  margin: 8px !important;
  margin-bottom: 12px !important;
}

.no-link-style {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.center {
  &-50 {
    margin: 32px auto;
    width: 50px;
  }

  &-200 {
    margin: 32px auto;
    width: 200px;
  }

  &-300 {
    margin: 32px auto;
    width: 300px;
  }
}

.label {
  font-size: 0.9em;
  color: #555;
  font-weight: 100;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.snackbar {
  &-error {
    background: #F44336;
  }

  &-success {
    background: #2F9623;
  }

  &-info {
    background: #2196F3;
  }
}

.mat-simple-snackbar {
  font-size: 1.2em;
  color: white;

  .mat-button-wrapper {
    color: white;
  }
}
