<div class="landing-wrapper">
  <div class="info-panel">
    <div class="welcome-message">
      <div>Welcome Back</div>
      <div class="welcome-message-name">{{ username }}</div>
    </div>

    <div class="spacer"></div>

    <div class="clock">
      <div class="time">{{ time | date: "h:mm" }}</div>
      <div class="seconds">{{ time | date: ":ss" }}</div>
      <div class="am-pm">{{ time | date: "a" }}</div>
    </div>
  </div>
  <div class="app-panel">
    <h1 class="title">Available Apps</h1>
    <mat-card class="mat-elevation-z2 app-card">
      <a class="no-link-style" routerLink="/customers">
        <div class="app-card-header">
          <div class="gradient">
            <img
              class="app-img"
              src="assets/app-customer-account-management.jpg"
            />
            <div class="app-title">Customer Account Management</div>
          </div>
        </div>
        <mat-card-content>
          <p>
            Open and manage customers' accounts and transactions
          </p>
        </mat-card-content>
      </a>
    </mat-card>
  </div>
</div>
